@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-nunitoSans: "Nunito Sans", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-montserrat);
  }

  .swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 24px !important;
  }

  .swiper-wrapper {
    padding: 20px 0;
  }

  .swiper-slide {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-prev,
  .swiper-button-next {
    @apply z-50 rounded-full border border-gray-200 bg-white p-3 shadow-md;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #000 !important;
  }

  .swiper-button-disabled {
    @apply hidden;
  }

  .swiper-pagination-bullet-active {
    background-color: oklch(27.8% 0.033 256.848) !important;
  }
}

@utility btn-primary {
  @apply cursor-pointer rounded-md bg-gray-900 px-12 py-2 text-sm font-semibold text-white shadow-sm transition-all duration-300 hover:bg-gray-800;
}
